<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="find">
      <ion-icon name="find"></ion-icon>
      <ion-label>发现</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="travels">
      <ion-icon name="travels"></ion-icon>
      <ion-label>行程</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trip">
      <ion-icon name="trip"></ion-icon>
      <ion-label>游记</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon name="my"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>