.logo {
    margin: 10em auto 5em auto;
}

ion-list {
    padding: 0em 2em 0em 1em;
}

.error-message {
    color: red;
    margin: 0em 2em 0em 3em;
}

.login {
    margin: 0em 2em 2em 2em;
}

.register {
    margin: 0em 2em 0em 2em;
}